*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'DM Sans',sans-serif;
}

/* Reset CSS  */
a{
    color: inherit;
    /* 부모의 색상을 상속받아라 */
    text-decoration: none;
}

button,
input,
textarea{
    font-family: 'DM Sans',sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
    outline: none;
    box-shadow: none;
}

ul,
ol,
li{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

p{
    font-size: 16px;
    line-height: 1.5;
    color: #2b292d;
    letter-spacing: -0/01em;
}

/* > 768px (Desktop ver)  */
@media screen and (min-width:768px){
    /* Reset CSS */
    p{
        font-size: 22px;
        line-height: 1.363636;
    }
    
}
/* Custom Grid System - Fix container width */
@media screen and (min-width:1200px) {
    .container{
        max-width: 960px !important;
    }   
}

/* get started */
/* mobile ver */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}
.row{
    height: 100vh;
    width: 100%;
}

.pinkline{
    height:568px ;
    width: 100%;
    padding-top: 120px;
    background-color: #FDDED8;
}
.title{
    display: block;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: -0.057em;
}
.title2{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
}
.title2::after{
    content: 'coding & design';
}
.title-btn1{
    margin-bottom: 154px;
    padding: 12px 35px;
    background-color: #3040C4;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: -0.021em;
    border: none;
    border-radius: 2px;
    margin-right: 16px;
}
.title-btn2{
    margin-bottom: 154px;
    padding: 12px 35px;
    background-color: #fff;
    color: #3040C4;
    font-weight: 700;
    font-size: 15px;
    line-height: -0.021em;
    border: none;
    border-radius: 2px;
}

.grayline{
    display: flex;
    flex-direction: column;
    text-align: left;
    height:500px ;
    width: 100%;
    padding: 80px 15px;
    background-color: #F4F5F7;
}
.line1,
.line2{
    display: flex;
    flex-direction: column;
}
.line1 h3,
.line2 h3{
    font-weight: 700;
    font-size: 22px;
    line-height: -0.03em;
    margin-bottom: 16px;
}
.line1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
    margin-bottom: 40px;
}
.line2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
}

.whiteline{
    text-align: left;
}
.whiteline h3{
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #009B4D;
    line-height: -0.02em;
    margin-bottom: 8px;
}
.whiteline h1{
    display: block;
    font-weight: 700;
    font-size: 34px;
    line-height: -0.04em;
    margin-bottom: 24px;
}
.whiteline p{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
    margin-bottom: 32px;
}
.threeimages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image1box,
.image2box,
.image3box{
    box-shadow: 1px 1px 2px 2px gainsboro;
    border-radius: 8px;
    width: 290px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding:24px 74px 0 74px;
}
.image3box{
    margin-bottom: 160px;
}
.image1::before{
    content: '';
    display: block;
    width: 143px;
    height: 200px;
    background-image: url(./assets/img-fulltime-campus.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}
.image1{
    font-weight: 700;
    font-size: 18px;
    line-height: -0.025em;
    margin-bottom: 32px;
}
.image2::before{
    content: '';
    display: block;
    width: 143px;
    height: 200px;
    background-image: url(./assets/img-fulltime-remote.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}
.image2{
    font-weight: 700;
    font-size: 18px;
    line-height: -0.025em;
    margin-bottom: 32px;
}
.image3::before{
    content: '';
    display: block;
    width: 143px;
    height: 200px;
    background-image: url(./assets/img-parttime-flex.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}
.image3{
    font-weight: 700;
    font-size: 18px;
    line-height: -0.025em;
    margin-bottom: 32px;
}










/* pc ver */
@media screen and (min-width:768px)  {

    .pinkline{
        height:568px ;
        width: 1440px;
        padding-top: 120px;
        background-color: #FDDED8;
    }
    .title{
        display: block;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 70px;
        line-height: -0.1em;
    }
    .title2{
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 22px;
        line-height: -0.055em;
    }
    .title2::after{
        content: 'frontend development';
    }

    .grayline{
        flex-direction: row;
    }
}