*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'DM Sans',sans-serif;
}

/* Reset CSS  */
a{
    color: inherit;
    /* 부모의 색상을 상속받아라 */
    /* text-decoration: none; */
}

button,
input,
textarea{
    font-family: 'DM Sans',sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
    outline: none;
    box-shadow: none;
}

ul,
ol,
li{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

p{
    font-size: 16px;
    line-height: 1.5;
    color: #2b292d;
    letter-spacing: -0/01em;
}

/* > 768px (Desktop ver)  */
@media screen and (min-width:768px){
    /* Reset CSS */
    p{
        font-size: 22px;
        line-height: 1.363636;
    }
    
}
/* Custom Grid System - Fix container width */
@media screen and (min-width:1200px) {
    .container{
        max-width: 960px !important;
    }   
}

/* get started */
/* mobile ver */
.body{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}
.row{
    height: 100vh;
    width: 100%;
}

.pinkline{
    height:568px ;
    width: 100%;
    padding-top: 120px;
    background-color: #FDDED8;
}
.title{
    display: block;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: -0.057em;
}
.title2{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
}
.title2::after{
    content: 'coding & design';
}
.title-btn1{
    margin-bottom: 154px;
    padding: 12px 35px;
    background-color: #3040C4;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: -0.021em;
    border: none;
    border-radius: 2px;
    margin-right: 16px;
}
.title-btn2{
    margin-bottom: 154px;
    padding: 12px 35px;
    background-color: #fff;
    color: #3040C4;
    font-weight: 700;
    font-size: 15px;
    line-height: -0.021em;
    border: none;
    border-radius: 2px;
}

.grayline{
    display: flex;
    flex-direction: column;
    text-align: left;
    height:500px ;
    width: 100%;
    padding: 80px 15px;
    background-color: #F4F5F7;
}
.line1,
.line2{
    display: flex;
    flex-direction: column;
}
.line1 h3,
.line2 h3{
    font-weight: 700;
    font-size: 22px;
    line-height: -0.03em;
    margin-bottom: 16px;
}
.line1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
    margin-bottom: 40px;
}
.line2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
}

.whiteline{
    text-align: left;
}
.whiteline h3{
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #009B4D;
    line-height: -0.02em;
    margin-bottom: 8px;
}
.whiteline h1{
    display: block;
    font-weight: 700;
    font-size: 34px;
    line-height: -0.04em;
    margin-bottom: 24px;
}
.whiteline p{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
    margin-bottom: 32px;
}
.threeimages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image1box,
.image2box,
.image3box{
    box-shadow: 1px 1px 2px 2px gainsboro;
    border-radius: 8px;
    width: 290px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding:24px 74px 0 74px;
}
.image3box{
    margin-bottom: 160px;
}
.image1::before{
    content: '';
    display: block;
    width: 143px;
    height: 200px;
    background-image: url(./assets/img-fulltime-campus.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}
.image1{
    font-weight: 700;
    font-size: 18px;
    line-height: -0.025em;
    margin-bottom: 32px;
}
.image2::before{
    content: '';
    display: block;
    width: 143px;
    height: 200px;
    background-image: url(./assets/img-fulltime-remote.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}
.image2{
    font-weight: 700;
    font-size: 18px;
    line-height: -0.025em;
    margin-bottom: 32px;
}
.image3::before{
    content: '';
    display: block;
    width: 143px;
    height: 200px;
    background-image: url(./assets/img-parttime-flex.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}
.image3{
    font-weight: 700;
    font-size: 18px;
    line-height: -0.025em;
    margin-bottom: 32px;
}
.curriculum{
    text-align: left;
}
.curriculum h3{
    font-size: 16px;
    font-weight: 700;
    line-height: -0.02em;
    color: #0189D1;
    margin: 0 15px 8px 15px;
}
.curriculum h1{
    font-weight: 700;
    font-size: 34px;
    line-height:-0.04em;
    margin: 0 15px 24px 15px;
}
.curriculum p{
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
    margin: 0 15px 32px 15px;
}
.curriculum button{  
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color:#3040C4;
    width: 140px;
    height: 48px;
    border: none;
    border-radius: 2px;
    margin-bottom: 48px;
    margin-left: 18px;
}
.curriculum-sub{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: -0.03em;
}
.curriculum-sub p{
    margin-bottom: 40px;
}

.lastone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: #F2F8FA;

}
.lastone h1::before{
    content: '';
    display: block;
    width: 190px;
    height: 190px;
    background-image: url(./assets/img-banner.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin:65px 64px 40px 64px;
}
.lastone h1{
    font-weight: 700;
    font-size: 32px;
    line-height: -0.04em;
    margin-bottom: 16px;
}
.lastone p{
    font-weight: 400;
    font-size: 16px;
    line-height: -0.04em;
    text-align: left;
    margin: 0 15px 24px 15px;
}
.lastone textarea{
    width: 100%;
    height:48px ;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    resize: none;
    padding: 12px 156px 12px 16px;
    margin:0 15px 8px 15px;
}
.lastone button{
    background-color: #3040C4;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    margin:0 15px 8px 15px;
    padding:12px 107px;
    border: none;
    border-radius: 2px;
}
.cancel{
    font-size: 13px;
    font-weight: 400;
    color: #7B7B7E;
    margin: 0 26px 40px 26px;
}
.cancel a{
    color:#3040C4;
}
.footer{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 24px 0 30px 0;
}
.terms,
.privacy,
.license{
    text-decoration: none;
    color: #807F81;
    font-size: 14px;
    font-weight: 400;
    line-height: -0.035em;
}
.terms{
    margin: 0 266px 8px 15px;
}
.privacy{
    margin: 0 266px 8px 15px;
}
.license{
    margin: 0 266px 0 15px;
}
/* pc ver */
@media screen and (min-width:768px)  {
    .pinkline{
        height:568px ;
        width: 100%;
        padding-top: 120px;
        background-color: #FDDED8;
    }
    .title{
        display: block;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 70px;
        line-height: -0.1em;
    }
    .title2{
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 22px;
        line-height: -0.055em;
    }
    .title2::after{
        content: 'frontend development';
    }
    .title-btn1,
    .title-btn2{
        margin-bottom: 120px;
    }
    .grayline{
        flex-direction: row;
        padding:80px 80px;
        height: 340px;
    }
    .line1{
        margin-right: 110px;
    }
    .whiteline{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 80px;
    }
    .whiteline h3{
        margin-bottom: 16px;
        font-size: 22px;
    }
    .whiteline h1{
        margin-bottom: 32px;
        font-size: 56px;
        line-height: -0.08em;
    }
    .whiteline p{
        margin-bottom: 72px;
        font-size: 22px;
        line-height:-0.05em ;
        width: 770px;
    }
    .threeimages{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .image1box,
    .image2box,
    .image3box{
        margin-bottom: 188px;
        margin-right: 30px;
    }
    .image1box:hover{
        background-color: #3141C5;
        cursor: pointer;
    }
    .image2box:hover{
        background-color: #3141C5;
        cursor: pointer;
    }
    .image3box:hover{
        background-color: #3141C5;
        cursor: pointer;
    }
    .curriculum{
        position: relative;
    }
    .curriculum::after{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 425px;
        height: 425px;
        background-image: url(./assets/img-curriculum.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 36px;
    }
    .curriculum h3{
        font-size: 22px;
        margin-bottom: 32px;
    }
    .curriculum h1{
        font-size: 56px;
        line-height: -0.08em;
        margin-bottom: 72px;
        margin-right: 43px;
    }
    .curriculum p{
        font-size: 22px;
        line-height: -0.05em;
        width: 450px;
        height: 96px;
        margin-bottom: 72px;
    }
    .curriculum button{
        font-size: 18px;
        width: 160px;
        height: 56px;
        margin-bottom: 66px;
    }
    .curriculum-sub{
        display: flex;
        flex-direction: row;
        text-align: left;
        font-size: 18px;
        line-height: -0.045em;
    }
    .curriculum-sub p{
        margin-bottom: 96px;
        width: 450px;
        height: 78px;
        margin-right: 30px;
    }
    .lastone{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 1440px;
        height: 460px;
        padding-left: 400px;
        background-color: #F2F8FA;
    }
    .lastone h1::before{
        position: absolute;
        left: 0;
        top: 0;
        width: 285px;
        height: 285px;
    }
    .lastone textarea{
        width: 362px;
        height:56px ;
        padding: 16px 214px 16px 16px;
        font-size: 18px;
    }
}