.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: "Poppins", sans-serif;
}
.card{
  display: flex;
  width: 840px;
  height: 250px;
  padding:24px;
}
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img-house.jpg);
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
  margin-right:24px;
}
.like-button{
  background-image: url(./assets/icon-favorite.svg);
  background-color: #FFFFFF;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  border:none;
  margin: 12px;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.plus-badge{
  display: inline-block;
  border-radius: 4px;
  background-color: #92174D;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 1px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  /* 20/14=1.4285714286 */
  margin-right: 6px;
}

.property-type span{
  color:#7D858F;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 185px;;
}

.property-rate{
  font-size: 16px;
  line-height: 1.25;
}

.property-rate strong{
  font-weight: 400;
  color:#151b26;
}

.property-rate span{
  color:#7D858F;
}

.property-rate::before{
  content: '';
  position: relative;
  top:2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image:url(./assets/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.card-title{
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color:#151b26;
  margin-bottom: 16px;
}

.property-detail{
  color:#7D858F;
  font-size: 14px;
  font-weight: 400;
}
.dd{
  margin-bottom: 8px;
}